<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Estudiantes</title>
    <!--Cdn para utilizar bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <h1>Formulario de Estudiantes</h1>


<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center">
		<h1>Registro de estudiantes</h1>
	<div class="card-body">
    <form th:action="@{/estudiantes}" th:object="${estudiante}" method="POST">
        <div class="form-group">
			<label>Nombre</label>
			<input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Ingrese su nombre" required>
		</div>
		<br>
		<div class="form-group">
			<label>Apellido</label>
			<input type="text" name="apellido" th:field="*{apellido}" class="form-control" placeholder="Ingrese su apellido" required>
		</div>
		<br>
		<div class="form-group">
			<label>Email</label>
			<input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Ingrese su email" required>
		</div>
		<br>
		<div class="box-footer">
			<button class="btn btn-success">Guardar</button>
			<a th:href="@{/estudiantes}">
				<button class="btn btn-danger" type="button">Salir</button>
			</a>
		</div>
    </form>
    </div>
    </div>
	</div>
 </div>
</body>
</html>